
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L] 

#START - WP Hide & Security Enhancer
#WriteCheckString:1481931326_91375
<IfModule mod_env.c>
SetEnv HTTP_MOD_REWRITE On
</IfModule>

RewriteRule ^front/unnamed-file.css /wp-content/plugins/wp-hide-security-enhancer/router/file-process.php?action=style-clean&file_path=/wp-content/themes/houzez/style.css [L,QSA]

RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteRule ^front/unnamed-file.css /wp-content/themes/houzez/style.css [L,QSA]

RewriteRule ^front/(.+) /wp-content/themes/houzez/$1 [L,QSA]

RewriteRule ^includes/ieldq/(.+) /wp-content/plugins/acf-qtranslate/$1 [L,QSA]
RewriteRule ^includes/ield/(.+) /wp-content/plugins/advanced-custom-fields/$1 [L,QSA]
RewriteRule ^includes/tactf/(.+) /wp-content/plugins/contact-form-7/$1 [L,QSA]
RewriteRule ^includes/reg/(.+) /wp-content/plugins/houzez-login-register/$1 [L,QSA]
RewriteRule ^includes/func/(.+) /wp-content/plugins/houzez-theme-functionality/$1 [L,QSA]
RewriteRule ^includes/visualx/(.+) /wp-content/plugins/js-composer-qtranslate-x/$1 [L,QSA]
RewriteRule ^includes/visual/(.+) /wp-content/plugins/js_composer/$1 [L,QSA]
RewriteRule ^includes/ajaxpuller/(.+) /wp-content/plugins/ls_plugin/$1 [L,QSA]
RewriteRule ^includes/mc/(.+) /wp-content/plugins/mailchimp-for-wp/$1 [L,QSA]
RewriteRule ^includes/langs/(.+) /wp-content/plugins/qtranslate-x/$1 [L,QSA]
RewriteRule ^includes/(.+) /wp-content/plugins/$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-content/plugins(.+) /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in.*$ [NC]
RewriteRule ^wp-includes(.+) /index.php [L]

RewriteRule ^inc/(.+) /wp-includes/$1 [L,QSA]

RewriteRule ^source/(.+) /wp-content/uploads/$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-content/uploads(.+) /index.php [L]

RewriteRule ^xml.php /xmlrpc.php [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !wp-activate.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-cron.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-signup.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-comments-post.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-login.php [NC]
RewriteRule ^wp-([a-z-])+.php /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-signup.php /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^xmlrpc.php /index.php [L]

RewriteRule ^wp-json(.+) /index.php?wph-throw-404 [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-activate.php /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-cron.php /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^readme.html /index.php [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^license.txt /index.php [L]

RewriteRule ^user-input.php /wp-comments-post.php [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-comments-post.php /index.php [L]

RewriteRule ^contents/(.+) /wp-content/$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in.*$ [NC]
RewriteRule ^wp-content(.+) /index.php [L]
#END - WP Hide & Security Enhancer

RewriteRule ^starasia-login.php(.*) /wp-login.php$1 [QSA,L]
RewriteRule ^starasia-login.php/(.*) /wp-login.php$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress