*{
    font-family: "OpenSans-Regular";
}

.az-right{
    text-align: right;
}

.az-form-group_style{
	margin-top: 13px;
}
.az-title1{
	font-family: "OpenSans-Semibold" !important;
}
.btn{
    font-family: "OpenSans-Regular";
}
.az-text1{
	font-family: "OpenSans-Regular";
    *{
        font-family: "OpenSans-Regular";
    }
}
.az-text2{
    font-family: "OpenSans-Regular";
}
.az-text3{
    font-family: "OpenSans-Regular" !important;
}
.az-w-100{
    width: 100% !important;
}
.az-rel{
    position: relative;
}
.az-abs{
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 9;
}
.az-login{
    font-family: "OpenSans-Regular" !important;
    font-size: 16px !important;
    text-transform: none !important;
}
.az-disp-block{
    display: block !important;
}

.az-inner-padding{
    button{
        padding: 6px 25px !important;
    }
}
.az-second{
    opacity: 0.5;
}
.az-second.az-active{
    opacity: 1;
}
.az-second2{
    .bootstrap-select{
        opacity: 0.5;
    }
    .bootstrap-select~.az-abs{
        opacity: 0.5;
    }
    .bootstrap-select.open{
        opacity: 1;
    }
    .bootstrap-select.open~.az-abs{
        opacity: 1;
    }
}

.az-sticky .advanced-search{
    padding: 20px;
    background-color: #fff;
}
.az-ul-account-action{
    line-height: 90px;
    // height: 90px;
}
.sticky_nav .az-ul-account-action{
    line-height: 59px;
}
.az-li-account-action{
    // line-height: 90px !important;
    height: 90px;
    // vertical-align: top;
    display: block;
    // padding: 0 10px;
    border-radius: 4px;
    background: transparent !important;
    .az-span-account-action{
        // font-size: 17px;
        // line-height: 35px !important;
        display: inline-block;
        border-radius: 4px;
        text-align: center !important;
        width: 35px;
        height: 35px;
        // vertical-align: middle;
        .fa{
            line-height: 35px !important;
            // vertical-align: top;
            font-size: 17px;
        }
        .fa-user-circle{
            display: block;
        }
        .fa-user-circle-o{
            display: none;
        }
    }

}
.az-li-account-action:hover{
    .az-span-account-action{
        background: #bf1e2e;
        .fa-user-circle{
            display: none;
        }
        .fa-user-circle-o{
            display: block;
            color: #fff;
        }
    }
}
.sticky_nav .az-li-account-action{
    line-height: 59px;
}
.az-blog-section{
    padding: 38px 0 !important;
}
.az-continue{
    max-width: 265px;
    a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }
}
.az-post-card-item{
    font-size: 0px;
}
.az-item-thumb{
    float: left;
    width: 100%;
    // max-width: 300px;
    // padding: 15px;
}
.az-post-card-body{
    float: left;
    // min-width: calc(100% - 330px);
    width: 100%;
    // margin-left: 15px;
    .post-card-description{
        border: none;
    }
}

// .az-second2{
//     opacity: 0.5;
//     z-index: 9;
//     .az-abs{
//         opacity: 0.5;
//     }
//     button{
//         transition: none;
//     }
// }
// .az-second2.az-active{
//     .az-abs{
//         opacity: 1;
//     }
// }
.az-stamp{
	// content:"SAMPLE";
    position:absolute;
    top:50px;
    right:10px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size:16px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}
.az-stamp_style{
	top:34px;
	font-size: 16px;
	border:solid 2px #c00;
}

.ls-disp-none{
    display: none !important;
}

.ls-md-menu{
    float: left;
    line-height: 90px;
    margin-right: 15px;
    // .nav-trigger{
    //     color: #fff !important;
    // }

    .mobile-nav .nav-trigger + .nav-dropdown{
        opacity: 0;
        filter: alpha(opacity=0);
        // top: 60px;
        visibility: hidden;
        max-width: 400px;
        top: 100px;
        a{
            font-family: "OpenSans-Regular";
        }
    }
    .mobile-nav .nav-trigger.mobile-open + .nav-dropdown{
        opacity: 1;
        filter: alpha(opacity=100);
        // top: 60px;
        visibility: visible;
        max-width: 400px;
        top: 80px;
        a{
            font-family: "OpenSans-Regular";
        }
    }
    .nav-dropdown{
        max-width: 400px;
        top: 80px;
    }
    .nav-dropdown > ul, .account-dropdown > ul{
        background-color: rgba(34,34,34,1);
    }
}
.ls-soc{
    float: left;
    line-height: 90px;
    margin-left: 15px;
    a{
        color: #fff;
        margin-right: 4px;
        font-size: 20px;
    }
}
.ls-call{
    float: left;
    line-height: 90px;
    margin-left: 15px;
    .az-btn{
        padding: 5px 8px;
        vertical-align: middle;
        // margin-bottom:6px;
        font-size: 18px;
    }
}

.ls-phone{
    float: left;
    line-height: 90px;
    height: 90px;
    margin-left: 15px;
    a{
        display: inline-block;
        margin-top: 5px;
        font-size: 20px;
        color: #000;// !important;
        i{
            font-size: 22px;
        }
    }
}
.ls-search{
    float: left;
    line-height: 90px;
    position: relative;
    padding-left: 10px;
    input[type="text"]{
        position: absolute;
        top: 50%;
        right: 200%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 0px;
        width: 0px;
        border: 0 solid #aaa;
        padding: 0;
        transition: all 0.3s linear;
        z-index: 999;
    }
    button[type="submit"]{
        display: none;
    }
    .ls-i{
        color: #fff;
        cursor: pointer;
    }
}
.ls-search{
    float: left;
    line-height: 90px;
    width: 15px;
    input[type="text"].slide{
        border: 1px solid #aaa;
        width: 359px;
        padding: 5px 22px 5px 5px;
        height: 40px;
        font-size: 19px;
        font-family: "OpenSans-Semibold";
    }
    input[type="text"].slide ~ button[type="submit"]{
        display: block;
        position: absolute;
        top: 0%;
        right: calc(100% + 3px);
        width: 40px;
        height: 40px;
        // transform: translateY(-50%);
        font-size: 12px;
        border: none;
        background: transparent;
        outline: none;
        z-index: 9999;
        line-height: normal;
        i{
            // font-size: 12px;
            // color: #000;
            font-size: 24px;
            color: #999;

        }
    }
}
.az-azsearch{
    background: url(../images/az/search-icon-512.png) no-repeat top left;
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    // display: inline-block;
    margin-top: 27px;
}

.az-above-header{
    background: #f1f1f1;
}

.header-section-4.nav-right .header-right{
    width: 700px !important;
}

.az-tels{
    float: right;
    line-height: 45px;
    span, a{
        strong{
            font-family: "OpenSans-Semibold" !important;
            color: #000;
        }
    }
}

.main-nav2{
    float: right;
    ul{
        margin: 0 0 0 0 !important;
        text-align: center;
    }
    li{
        display: inline-block;
        list-style-type: none;
    }
    a{
        display: inline-block;
        padding: 0 8px;
        line-height: 45px;
        letter-spacing: -0.02em;
        text-decoration: none;
        color: #000;
        font-size: 16px;       
    }
}

.user{
    float: right;
    a{
        text-align: center !important;
        width: 35px !important;
        line-height: 35px !important;
        border-radius: 4px;
        font-size: 16px !important;
        .fa{
            margin: 0px !important;
            line-height: 35px;
        }
        .fa-user{
            display: none;
        }
    }
    a:hover{
        // background: transparent !important;
        color: #fff !important;
        // line-height: 35px !important;
        // line-height: 35px;
        background: #bf1e2e !important;
        .fa-user{
            display: block;
        }
        .fa-user-o{
            display: none;
        }
    }
}


.ls-lang{
    font-size: 0px;
        a{
            font-size: 0px !important;
        }
    float: right;
    line-height: 60px !important;
    height: 60px;
    // margin-right: 15px;
    vertical-align: middle;
    // margin-left: 25px;
    .qtranxs_widget{
        padding: 0px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        font-size: 0px;
        border: none;
        position: relative;
        width: 32px;
        height: 20px;
        ul{
            position: absolute;
            top: 0px;
            left: 0px;
            // transform: translate(0, -50%);
            margin: 0px;
            width: 100%;
            height: 100%;
            z-index: 9;
            li{
                display: none;
                margin-bottom: 10px;
                img{
                    opacity: 0.5;
                    width: 100%;
                }
            }
            li.active{
                display: block;
                img{
                    opacity: 1;
                }
            }
            li:hover{
                img{
                    opacity: 1;
                }                
            }
        }
    }
    .qtranxs_widget_end{
        display: none;
    }
}
.az-select{
    line-height: normal;
    display: inline-block;
    select{
        padding: 5px;
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
        line-height: normal;
        -webkit-appearance: none;
            -moz-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    .az-options{
        line-height: normal;
        div{
            padding: 5px;
            cursor: pointer;
            color: #fff;
            background: rgba(0, 0, 0, 0.3);
        }
        div:hover{
            background: rgba(0, 0, 0, 0.7);
        }
    }
}

.ls-currency{
    float: right;
    line-height: 90px;
    margin-left: 15px;
    color: #fff;
    *{
        display: inline-block;
        vertical-align: middle;
    }
}

.ls-favorites{
    float: right;
    line-height: 60px;
    a{
                display: inline-block;
                text-align: center !important;
                width: 35px !important;
                color: #fff;
                line-height: 35px;
                border-radius: 4px;
                // font-size: 17px !important;
                .fa{
                    line-height: 35px;

                    margin: 0px !important;
                }
                // .fa-star{
                //     display: none;
                // }
            }
            a:hover{
                color: #fff;
                // background: #bf1e2e;
                // .fa-star{
                //     display: block;
                // }
                // .fa-star-o{
                //     display: none;
                // }
            }
}
.header-right{
    .ls-favorites{
        line-height: 60px;
        float: right;
        // line-height: 90px !important;
        // margin-left: 15px;
        // margin-right: 15px;
        color: #fff;
        a:hover{
            color: #fff !important;
            .fa-star{
                display: block;
            }
            .fa-star-o{
                display: none;
            }
        }
        a{
            font-size: 17px !important;
            color: #000 !important;
            line-height: normal;
            display: inline-block;
            text-align: center !important;
            width: 35px !important;
            .fa{
                margin: 0px !important;
            }
            .fa-star{
                display: none;
            }
        }
        
    }
}

.az-star{
    float: right;
    line-height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    // color: #ffba01;
}
.header-section-4  .navi.main-nav.ls-lg-menu > ul > li{
  line-height: 90px;
}
.sticky_nav .header-section-4  .navi.main-nav.ls-lg-menu > ul > li{
  line-height: 60px;
}
.sticky_nav.houzez-header-main.header-section-4.not-splash-header.nav-right{
    .header-right .user{
        line-height: 60px;
    }
    .ls-md-menu .mobile-nav .nav-trigger.mobile-open + .nav-dropdown{
        top: 60px;
    }
    .navi > ul > li.active ul{
        top: 60px;
    }
    .logo.logo-desktop{
        line-height: 60px;
    }
    .account-action li{
        line-height: 60px;
    }
    .navi > ul > li > a{
        line-height: 35px;
    }
    .ls-call{
        line-height: 60px;
    }

    .ls-phone{
        line-height: 60px;
        height: 60px;
    }
    .ls-md-menu{
        line-height: 60px;
    }
    .ls-search{
        line-height: 60px;
        .az-azsearch{
            margin-top: 11px;
        }
    }
    .ls-lang{
        line-height: 60px !important;
        height: 60px;
    }
    .ls-currency{
        line-height: 60px;
    }
    .ls-favorites{
        line-height: 60px;
    }
    .az-star{
        line-height: 60px;
    }
}

.ls-form{
    float: left;
    width: 90%;
}
.ls-form-owl{
    float: left;
    width: 100%;
}
.ls-submit{
    float: left;
    width: 10%;
}
.ls-submit-owl{
    float: left;
    width: 100%;
    button{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
.ls-form-owl-ru{
    float: left;
    width: 100%;
    *{
        font-family: "OpenSans-Regular";
    }

}
.ls-submit-owl-ru{
    float: left;
    width: 100%;
    *{
        font-family: "OpenSans-Regular";
    }
    button{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}


/*phuket map*/
.phuket-map-inner{
    height:335px;
    width:150px;
    background: url(../images/map/phuket-map.png) no-repeat top left;
}
.phuket-district{
    label{
        line-height: 18px;
        padding: 0 3px 0 3px;
        border-radius: 3px;
        white-space: nowrap;
        // text-decoration: none;
        // box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        // white-space: nowrap;
        cursor: pointer;
        // background: #fff;
        background-color: rgba(0,0,0,0.5);//rgba(221,233,123,0.5);
        color: #fff;
        left: -50%;
        margin-top: -23px;
        position: relative;
        display: block;
        // font-weight: bold;
        
    }
    input{
        display: none;
    }
    input:checked~label{
        background-color: rgba(0, 174, 239, 0.5);
        color: #fff;
    }
}


.p-dist1{position: absolute; left: 40px; top: 51px;}
.p-dist2{position: absolute; left: 30px; top: 82px;}
.p-dist3{position: absolute; left: 16px; top: 107px;}
.p-dist4{position: absolute; left: 16px; top: 128px;}//+
.p-dist5{position: absolute; left: 20px; top: 148px;}//+
.p-dist6{position: absolute; left: 19px; top: 170px;}//+
.p-dist7{position: absolute; left: 20px; top: 192px;}//+
.p-dist8{position: absolute; left: 20px; top: 222px;}//+
.p-dist9{position: absolute; left: 22px; top: 262px;}//+
.p-dist10{position: absolute; left: 38px; top: 291px;}
.p-dist11{position: absolute; left: 18px; top: 311px;}
.p-dist12{position: absolute; left: 20px; top: 332px;}//+
.p-dist13{position: absolute; left: 78px; top: 210px;}//+
.p-dist14{position: absolute; left: 118px; top: 232px;}//+
.p-dist15{position: absolute; left: 74px; top: 316px;}//+
.p-dist16{position: absolute; left: 124px; top: 285px;}//+
.p-dist17{position: absolute; left: 128px; top: 95px;}//+
.p-dist18{position: absolute; left: 82px; top: 125px;}//+
.p-dist19{position: absolute; left: 100px; top: 169px;}//+
.p-dist20{position: absolute; left: 80px; top: 269px;}//+
.p-dist21{position: absolute; left: 34px; top: 21px;}//+


.ls-absol{
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-75px, -50%);
    transform: translate(-75px, -50%);
}
.ls-absol2{
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translate(-75px, 0%);
    transform: translate(-75px, 0%);
}
.ls-mask{
    padding-top: 170px;
    padding-bottom: 170px;
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
    *{
        font-family: "OpenSans-Regular";
    }
}
.ls-mask2{
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
}
.ls-mask3{
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
    *{
        font-family: "OpenSans-Regular";
    }
}

.main-nav{
    li{
        a{
            // font-family: "OpenSans-Bold" !important;
            font-family: "OpenSans-Semibold";
            font-size: 14px  !important;
        }
    }
}

// .az-col{
//     >div{
//         width: 50%;
//         float: left;
//     }
// }


    .az-col-map1{
        width: 0;
        float: left;
        overflow: hidden;
        display: none;
    }
    .az-col-map2{
        width: 100%;
        float: left;
    }

.grid-view{
    .az-col{
        width: 100%;
        float: left;
        >div{
            width: 50%;
            float: left;
        }
    }
}


/*menu*/
.houzez-header-transparent{
    // background: rgba(0,0,0,0.5) !important;
    box-shadow: 0 1px 2px #666666;
}
// #header-section{
//     background: rgba(0,0,0,0.3);
// }
// .menu-item{
//     text-shadow: 0 0 10px #000;
//     a{
//         text-shadow: 0 0 2px #000 !important;
//         // color: #aaa ;
//     }
//     // box-shadow: 0 0 7px #333;
// }
/*menu*/

// .daterangepicker td.in-range{
//     background-color: darken(#ebf4f8, 10%); //#c5dfeb
// }

input[name="daterange"]{
    background-color: #fff !important;
    box-shadow: none !important;
    background-image: none;
    color: #333;
    border-color: #adadad;
    border: 1px solid #cccccc;
    text-transform: none;
    height: 42px;
    width: 100%;
    outline: none !important;
    border-radius: 4px;
    vertical-align: middle;
    padding: 6px 11px;
    font-size: 16px;
    font-family: "OpenSans-Regular";
}

/*slide arrows*/
.tparrows{
    height: 100% !important;
    width: 10% !important;
    line-height: 70% !important;
    vertical-align: middle !important;
    background: transparent !important;
    padding: 0 20px;
}
.tparrows:before{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: rgba(0,0,0,0.5);
    padding: 20px 40px;
    font-size: 30px !important;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.tp-leftarrow:before{
    left: 15px;
}
.tp-rightarrow:before{
    right: 15px;    
}
@-webkit-keyframes pulsate {
 50% { color: #fff; -webkit-text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
/*slide arrows*/

.input-phone:before{
    content: "\f095";
}







// .navi.main-nav{
//     position: fixed;
//     background: #fff;
//     border: 1px solid #000;
//     left: -200px;
//     transition: all 0.8s ease-in-out;
//     margin-left: 0px !important;
//     padding-top: 30px;
//     padding-bottom: 30px;
//     height: 100%;
//     width: 200px;
//     .menu-item{
//         display: block;
//         a:hover{

//             padding: 0 30px;
//             display: block;
//             color: #f7941d !important;
//             line-height: 50px !important;
//         }
//         a{
//             font-family: "OpenSans-Regular";
//             padding: 0 30px;
//             display: block;
//             color: #333 !important;
//             line-height: 50px !important;
//         }
        
//     }
// }
// .navi.main-nav.open{
//     left: 0px;
// }
// .ls-menu{
//     padding: 0 15px 0 25px;
//     float: right;
//     line-height: 90px !important;
//     height: 90px;
//     vertical-align: middle;
//     font-size: 24px;
//     a{
//         i{
//             font-size: 24px !important;
//         }
//     }
//     cursor: pointer;
//     text-align: center;
// }

.ls-lg-menu{
    display: none;
    margin-left: 0 !important;
}
@media only screen and (min-width: 270px) and (max-width: 400px){
    .header-mobile .mobile-nav{
        width: 20px !important;
    }
    .header-mobile .header-user{
        width: calc(50% - 94px) !important;

    }
    .account-action{
        float: right;
        // margin-right: 15px !important;
    }
}
@media only screen and (min-width: 401px){
    .header-mobile .header-user{
        width: calc(25% - 70px) !important;
    }
    .account-action{
        float: right;
        // margin-right: 15px !important;
    }
}



.az-dispay-lg{
    display: none !important;
}
.az-dispay-sm{
    display: block !important;
}

/*owl-carousel*/
.az-carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
    // .owl-stage-outer{
    //     height: 100%;
        // .owl-stage{
        //     height: 100%;
            // .owl-item{
            //     height: 100%;
                // .az-item{
                //     transition: all 1.2s ease-out;
                // }

                .az-item0, .az-item1, .az-item2, .az-item3{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
                
                .az-item{
                    opacity: 0;
                    z-index: 2;
                }
                .az-item0{
                    opacity: 1;
                    z-index: 3;
                }
                // .az-item2{
                //     opacity: 0;
                //     z-index: 2;
                // }
                // .az-item3{
                //     opacity: 0;
                //     z-index: 2;
                // }
            // }
        // }
    // }
    .az-prev{
        position: absolute;
        left: 0px !important;
        background: transparent !important;
        height: 100% !important;
        width: 50px;
        opacity: 1 !important;
        z-index: 5;
        cursor: pointer;
    }
    .az-next{
        position: absolute;
        right: 0px !important;
        height: 100% !important;
        width: 50px;
        background: transparent !important;
        opacity: 1 !important;
        z-index: 5;
        cursor: pointer;
        // outline: 1px solid red;
    }
    .az-inner-prev{
        position: absolute;
    // top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: rgba(0,0,0,0.5) !important;
        padding: 20px 10px;
        font-size: 30px !important;
        color: rgb(245,245,245);
        text-shadow: 0 -1px rgba(0,0,0,.1);
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
        left: 2px;
        top: 50%;
        height: unset !important;
        width: unset !important;
        opacity: 1 !important;
        // top: calc(50% + 30px);
        z-index: 5;
    }
    .az-inner-next{
        position: absolute;
    // top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: rgba(0,0,0,0.5) !important;
        padding: 20px 10px;
        font-size: 30px !important;
        color: rgb(245,245,245);
        text-shadow: 0 -1px rgba(0,0,0,.1);
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
        right: 2px;
        top: 50%;
        height: unset !important;
        width: unset !important;
        opacity: 1 !important;
        // text-align: center;
        // top: calc(50% + 30px);
        z-index: 5;
    }
    .az-inner-prev:before{
        content: '\e824';
        font-family: "revicons";
    }
    .az-inner-next:before{
        content: '\e825';
        font-family: "revicons";
    }
    
    // div:not(.owl-controls) {
    //     height: 100%;
    // }
    // .az-item0{
    //     background-image: url('../images/az/slide1.jpg');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center center;
    // }
    .az-item1{
        background-image: url('../images/az/slide1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .az-item2{
        background-image: url('../images/az/slide2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .az-item3{
        background-image: url('../images/az/slide3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .az-item1-wrap{
        width: calc(100% - 80px);
        position: absolute;
        top: 50%;
        left: 40px;
        height: unset !important;
        transform: translate(0, -50%);
    }
    .az-img-box-preload{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        // background: #fff;
        // overflow: hidden;
        // padding: 5px;
        // border-radius: 2px;
        // box-shadow: 0 0 2px #666666;
        img{
            // animation: azpreload 1s linear;
        }
        
    }
}
// @keyframes azpreload{
//     from{
//         transform: rotate(0deg);
//     }
//     to{
//         transform: rotate(360deg);
//     }
// }


.az-actions{
    bottom: 48px !important;
}

.item-body .amenities{
    img{
        width: unset !important;
        display: inline-block !important;
    }
}

.az-nights{
    padding: 0 10px;
}

/*margins*/
.az-margin-right15{
    margin-right: 15px;
}
.az-margin-bottom10{
    margin-bottom: 10px;
}
.az-sm-margin10{
    margin-bottom: 10px;
}
.az-margin-right0{
    margin-right: 0px;
}
.az-margin-none{
    margin: 0px !important;
}
.az-margin-top15{
    margin-top: 15px;
}
.az-message{
    padding: 30px 15px;
}
.az-dispay-block-md{
    display: none !important;
}
// .az-dispay-none-md{
//     display: none !important;
// }
.search .input-icon:before{
    color: #ce214f;
}


/*under-menu search*/
.az-beds{
    position: relative;
    button{
        padding-left: 30px !important;
    }
    i{
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: 5px;
        color: #959595;
        z-index: 999;
    }
}

.az-number{
    width: 130px !important;
    padding: 6px 39px 6px 26px !important; 
    background: #fff !important;
}
.bootstrap-touchspin{
    // vertical-align: ;
}
.input-group-btn-vertical{
    position: absolute !important;
    display: block !important;
    height: 100% !important;
    width: 30px !important;
    z-index: 9;
    background: transparent;
    text-align: center;
    right: 0px;
    font-size: 0px;
    button{
        text-align: center !important;
        margin-left: 0 !important;
        width: 100%;
        height: 52%;
        border: 1px solid #959595;
        border-radius: 0px !important;
        vertical-align: middle;
        padding: 0px !important;
        i{
            position: static !important;
            float: none !important;
            line-height: unset !important;
            margin: 0px !important;
        }
    }

}

.bg-white{
    background: #fff;
    margin-top: 30px;
}

.az-beds{
    .fa-sort{
        position: absolute;
        top: 50%;
        right: 14px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

.az-price{
    position: relative;
    .az-before{
        position: absolute;
        top: 50%;
        left: 4px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 9;
        color: #959595;
    }
    .az-after{
        position: absolute;
        top: 50%;
        right: 34px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 9;
        color: #959595;
    }
}


@media only screen and (min-width: 345px){
    .az-carousel {
        .az-prev{
            width: 75px;
        }
        .az-next{
            width: 75px;
        }
        .az-inner-prev{
            left: 15px;
        }
        .az-inner-next{
            right: 15px;
        }
        .az-item1-wrap{
            width: calc(100% - 130px);
            left: 65px;
        }
    }
}

@media only screen and (min-width: 390px){
    .az-carousel {
        
        .az-inner-prev{
            // top: 50%;
            padding: 20px 10px;
        }
        .az-inner-next{
            padding: 20px 10px;
        }
        .az-item1-wrap{
            width: calc(100% - 130px);
            left: 65px;
        }
    }
}

@media only screen and (min-width: 500px){
    .az-carousel {
        .az-prev{
            width: 130px;
        }
        .az-next{
            width: 130px;
        }
        .az-inner-prev{
            // top: 50%;
            padding: 20px 40px;
        }
        .az-inner-next{
            padding: 20px 40px;
        }
        .az-item1-wrap{
            width: calc(100% - 250px);
            left: 125px;
        }
    }
}

@media only screen and (min-width: 768px){
    .az-item-thumb{
        float: left;
        width: 40%;
        max-width: 300px;
        // padding: 15px;
    }
    .az-post-card-body{
        float: left;
        min-width: calc(100% - 330px);
        width: 60%;
        // margin-left: 15px;
        .post-card-description{
            border: none;
        }
    }
    // .list-view{
    //     .az-col{
    //         width: 100%;
    //         float: left;
    //         >div{
    //             width: 50%;
    //             float: left;
    //         }
    //     }
    // }
    // .grid-view{
    //     .az-col{
    //         width: 50%;
    //         float: left;
    //     }
    // }
	.az-stamp{
		font-size: 30px;
	}
	.az-stamp_style{
		font-size: 16px;
	}
}

@media only screen and (min-width: 992px){
    .main-nav2{
        ul{
            text-align: right;
        }
    }
    .ls-form-owl{
        width: 90%;
    }
    .ls-submit-owl{
        width: 10%;
    }
    .ls-form-owl-ru{
        width: 88%;
    }
    .ls-submit-owl-ru{
        width: 12%;

    }
    .ls-lang{
        float: right;
        // margin-right: 15px;
        line-height: 90px !important;
        height: 90px;
        font-size: 0px;
        a{
            font-size: 0px;
        }
    }
    .header-right{
        .ls-favorites{
            float: right;
            line-height: 90px;
            a{
                display: inline-block;
                text-align: center !important;
                width: 35px !important;

                .fa{
                    margin: 0px !important;
                }
                .fa-star{
                    display: none;
                }
            }
            a:hover{
                background: #bf1e2e;
                color: #fff;
                .fa-star{
                    display: block;
                }
                .fa-star-o{
                    display: none;
                }
            }
        }
    }
    .az-sm-margin10{
        margin-bottom: 0px;
    }
    .az-md-margin146{
        margin-top: 146px;
    }
    // .az-map-view{
        .az-col-map1{
            width: 40%;
            float: left;
            display: block;
        }
        .az-col-map2{
            width: 60%;
            float: left;
        }
        .az-col-map3{
            width: 100%;
        }
    .az-map-view{
        .az-col{
            width: 100%;
            float: left;
            >div{
                width: 50%;
                float: left;
            }
        }
    }
    .az-dispay-block-md{
        display: block !important;
    }
    .az-dispay-none-md{
        display: none !important;
    }
    // }
}

@media only screen and (min-width: 1075px){
    .az-dispay-lg{
        display: block !important;
    }
    .az-dispay-sm{
        display: none !important;
    }
}

@media only screen and (min-width: 1200px){
    .list-view{
        .az-col{
            width: 100%;
            float: left;
            >div{
                width: 50%;
                float: left;
            }
        }
    }
    .grid-view{
        .az-col{
            width: 50%;
            float: left;
        }
    }
    .map-view{
        .az-col{
            width: 100%;
            float: left;
            >div{
                width: 50%;
                float: left;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .ls-md-menu{
        display: none;
    }
    .ls-lg-menu{
        display: block;
    }
}